p, h1{
    color:crimson;
    background-color:cyan;
}
h1.rubrik{
    font-family: Arial;
    font-size: 22px;
    color:coral;
    background-color:black;
}
p.program{
    color: darkblue;
    background-color: darkgrey;
    text-align: center;
}
p.program1{
    color: darkblue;
    background-color: darkgrey;
    text-align: right;
}
a.link{
    text-decoration: none;
}
p.self{
    border: 20%;
}